:host {
    display: table-cell;
    padding: .5rem;
    border-top: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
    border-left: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
}
.small-screen{
    display :none;
}
@media screen and (min-width: 801px){
    .small-screen{
        display :none;
    }
}

@media screen and (max-width: 800px) {
:host {
    
    display: block;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    padding: .5rem;
    border-top: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
    border-left: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
}
.small-screen{
    display :block;
}
}